<div class="container">
  <div class="card mt-3 mb-3">
      <div class="card-header">
        <h1 style="text-align: center;">Contactanos</h1>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-8">
              <form action="">
                <div class="form-group">
                  <label for=""><b>Nombre completo</b></label>
                  <input type="text" class="form-control" placeholder="Nombre completo">
                </div>
                <div class="form-group">
                  <label for=""><b>Correo</b></label>
                  <input type="text" class="form-control" placeholder="Correo">
                </div>
                <div class="form-group">
                  <label for=""><b>Mensaje</b></label>
                  <textarea name="" id="" cols="30" rows="3" placeholder="Mensaje" class="form-control"></textarea>
                </div>
                <button class="btn btn-dark btn-lg btn-block" style="border-radius: 30px;">Contactanos</button>
              </form>
          </div>
          <div class="col-4">
              <h3>Contacto</h3>
              <span>CaribbeanCimemaRd@gmail.com</span>
              <hr>
              <h3>Establecidos en</h3>
              <span>Santo Domingo, Republica Dominicana</span>
              <hr>
              <br><br><br>
              <div class="row">
                <a href="https://www.facebook.com/caribbeancinemasrd" target="_blank"><img src="../../../assets/img/facebook.svg" width="40px" height="40px" alt="" class="mr-5 ml-5"></a>
                <a href="https://twitter.com/caribbeancine" target="_blank"><img src="../../../assets/img/Twitter-logo.svg.png" width="40px" height="40px" alt="" class="mr-5"></a>
                <a href="https://www.instagram.com/caribbeancinemasrd/" target="_blank"><img src="../../../assets/img/instagram.png" width="40px" height="40px" alt=""></a>
              </div>
          </div>
        </div>
      </div>
  </div>
</div>
