<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #B8405E;">
  <a class="navbar-brand" href="home">
    <img src="../assets/img/logo caribbean 2.png" width="85" height="65" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="home">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Estrenos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">Contactanos</a>
      </li>
      <li class="nav-item" *ngIf="user == null">
        <a class="nav-link" href="login">iniciar sesion</a>
      </li>
      <li class="nav-item dropdown" *ngIf="user != null">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-user"></i> {{user.name}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="tickets" style="color: black!important;">Tus boletos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="" style="color: black!important;" (click)="logOut()">Cerrar sesion</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

<section class="mb-2 ml-2" id="enlaces-interes">
  <h4 style="color: gray;">Enlaces de interes</h4>
  <hr>
  <div class="row" style="align-items: center;">
    <img class="ml-5" style="width: 15%; height: 15%;" src="../assets/img/rd.jpg" alt="">
    <img class="ml-5" style="width: 15%; height: 15%;" src="../assets/img/optic.jpg" alt="">
    <img class="ml-5" style="width: 11%; height: 11%;" src="../assets/img/seguros en linea.jpg" alt="">
    <img class="ml-5" style="width: 15%; height: 15%;" src="../assets/img/Logo-911.webp" alt="">
  </div>
</section>

<footer style="background-color: #313552; color: white;" >
  <div class="row pt-3">
    <div class="col-6">
      <div class="row mb-3">
        <img style="width: 15%; height: 15%; padding-left: 20px;" src="../assets/img/escudo.webp" alt="">
        <img style="width: 20%; height: 20%; padding-left: 20px;" src="../assets/img/logo caribbean 2.png" alt="">
      </div>
      <h6>&copy; Todos los derechos reservados</h6>
    </div>
    <div class="col-6">
      <div class="row pt-3 ml-5" style="float: right;">
        <img style="width: 20%; height: 20%; padding-left: 20px;" src="../assets/img/nortic a2.jpg" alt="">
        <img style="width: 20%; height: 20%; padding-left: 20px;" src="../assets/img/nortic a2 2016.jpg" alt="">
      </div>
    </div>
  </div>
</footer>
